

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main{

  width: 100%;
}

.movies{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.movie {
  text-align: center;
}

.movie h3, .movie p {
  margin: 0;
}

.movie img {
  border-radius: 5px;
  margin-top: 16px;
  height: 350px;
  width: 100%;
}